
/* Tlo */
.chart-plot-background {
    -fx-background-color: #f5f5f5;
}

/* Linie siatki */
.chart-vertical-grid-lines {
    -fx-stroke: #dbdbdb;
    -fx-stroke-width: 1px;
}
.chart-horizontal-grid-lines {
    -fx-stroke: #dbdbdb;
    -fx-stroke-width: 1px;
}

/* Linie osi */
.axis-line {
    -fx-stroke: #000000;
    -fx-stroke-width: 2px;
}

/* Zielona linia danych */
.default-color0.chart-series-line {
    -fx-stroke: #2e7d32;
    -fx-stroke-width: 3px;
}

/* Opis osi */
.axis-label {
    -fx-text-fill: #555555;
    -fx-font-size: 11px;
    -fx-font-weight: bold;
}